body {
	background-image: url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: auto;
	margin-top: auto;
	max-width: 80rem !important;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.container {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	width: 100%;
}

.nav-button {
	background-color: transparent;
	border: none;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 1rem 0px;
	position: relative;
	text-transform: uppercase;
}

.nav-button > * {
	margin: 0px 0.75rem;
}

.nav-button::before {
	background-color: #d8d8d8;
	content: "";
	height: 100%;
	left: 18%;
	position: absolute;
	top: 0;
	width: 65%;
	transition: width 0.2s ease;
	z-index: -5;
}

.nav-button:hover::before,
.nav-button:focus::before {
	width: 85%;
}

.button {
	background-color: #e67e34;
	border: none;
	color: #eee;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 0.75rem 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
	background-color: #cf7433;
}
