.sidebar,
.sidebar nav {
	width: 100%;
}

.sidebar nav ul {
	display: flex;
	justify-content: space-around;
}

.sidebar nav ul li a {
	color: #887d7d;
	display: block;
	font-size: 0.875rem;
	padding: 0.75rem 0px;
	text-align: center;
	text-transform: uppercase;
}

.sidebar nav ul li:last-child a {
	color: #e67e34;
	font-weight: 700;
}

.sidebar a {
	transition: color 0.2s ease;
}

.sidebar a:hover,
.sidebar a:focus {
	color: #e67e34;
}

.sidebar .sidebar__footer {
	margin: 1rem 0px;
	display: flex;
	justify-content: flex-end;
}

.sidebar .sidebar__footer > * {
	margin: 0px 0.875rem;
}

@media (min-width: 768px) {
	.sidebar,
	.sidebar nav {
		width: auto;
	}

	.sidebar nav ul {
		display: block;
	}

	.sidebar .sidebar__footer {
		margin: 4.5rem -0.875rem 0px -0.875rem;
	}
}
