.product {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
}

.product .product__title {
	color: #e67e34;
	font-size: 2rem;
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
	word-spacing: 100vw;
	width: 100%;
}

.product .product__price {
	color: #333;
	font-size: 1.25rem;
}

.product > * {
	margin-bottom: 1rem;
}

.product .nav-button {
	margin-left: -1.375rem;
	margin-right: auto;
	order: -1;
}

@media (min-width: 420px) {
	.product .product__title {
		font-size: 3rem;
		word-spacing: 35vw;
	}
}

@media (min-width: 768px) {
	.product {
		max-width: 35vw;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	.product .nav-button {
		margin-left: -2rem;
		margin-bottom: 0px;
		order: 3;
		order: initial;
	}
}
